In [1]:
# importing pandas
import pandas as pd

# read csv file
df=pd.read_csv("nacgfs-jun-2023.csv")

# head tag used to get first 5 rows of the data set by deafult
df.head()

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,GFSA.SCS01G01Z90,2009.06,3374,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
1,GFSA.SCS01G01Z90,2010.06,-3940,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
2,GFSA.SCS01G01Z90,2011.06,-13165,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
3,GFSA.SCS01G01Z90,2012.06,-3956,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
4,GFSA.SCS01G01Z90,2013.06,-1066,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN

In [4]:
# INDEXING AND SLICING

# LOC :  Loc is used to filter rows and select columns by lable[Rows-"Row's Index", column-"Column's Name"]

df.loc[0,"Series_reference"]#returns value at index 0 of column Series_reference 
#here slicing is being done for 0 index  Series_reference

#lets see now multiple data fetch using loc
df.loc[[0,1,2],:]#at row part we gave index 0,1,2 and at column we gave : which means it will return all data for first 3 rows
#OR
df.loc[0:3,:]

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,GFSA.SCS01G01Z90,2009.06,3374,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
1,GFSA.SCS01G01Z90,2010.06,-3940,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
2,GFSA.SCS01G01Z90,2011.06,-13165,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
3,GFSA.SCS01G01Z90,2012.06,-3956,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN

In [5]:
# ILOC : iloc is used to filter rows and columns based on integer position"

# df.iloc[index_of_rows,index_of_column]

df.iloc[0:4,[0,1,3]]

# here the row index are list containing(0,1,2,4) and index of column 0,1,3

   Series_reference   Period   STATUS
0  GFSA.SCS01G01Z90  2009.06  REVISED
1  GFSA.SCS01G01Z90  2010.06  REVISED
2  GFSA.SCS01G01Z90  2011.06  REVISED
3  GFSA.SCS01G01Z90  2012.06  REVISED

In [6]:
# columns contains in data frames 

df.columns

Index(['Series_reference', 'Period', 'Data_value', 'STATUS', 'UNITS',
       'MAGNTUDE', 'Subject', 'Group', 'Series_title_1', 'Series_title_2',
       'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [10]:
# Boolean Indexing

mask = df['Period'] >= 2015

# We can then use this mask to filter the DataFrame using the loc attribute:
df.loc[mask]

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
6,GFSA.SCS01G01Z90,2015.06,3895,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
7,GFSA.SCS01G01Z90,2016.06,4520,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
8,GFSA.SCS01G01Z90,2017.06,6922,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
9,GFSA.SCS01G01Z90,2018.06,7746,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
10,GFSA.SCS01G01Z90,2019.06,8015,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2508,GFSA.SCS05G08Z61613Z,2019.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2509,GFSA.SCS05G08Z61613Z,2020.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2510,GFSA.SCS05G08Z61613Z,2021.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2511,GFSA.SCS05G08Z61613Z,2022.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2512,GFSA.SCS05G08Z61613Z,2023.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN

In [11]:
# we can create a boolean mask using the str.contains method:
mask = df.columns.str.contains('Type')
'''This creates a boolean mask with the same length as the number of columns, 
where each value is True if the corresponding column label contains the word "Type", and False otherwise.'''

'This creates a boolean mask with the same length as the number of columns, \nwhere each value is True if the corresponding column label contains the word "Type", and False otherwise.'

In [12]:
# we can see column name which has type keyowrd in it

df.loc[:,mask]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2513 rows x 0 columns]

In [13]:
# Data Manipulation 
# Reshaping:

# Pivoting: pivot(): Rotates data from rows into columns based on a key column.
df.pivot(index=['Series_reference', 'Period'], columns='STATUS', values='Data_value')

STATUS                        FINAL  REVISED
Series_reference     Period
GFSA.SCS01G01Z90     2009.06    NaN   3374.0
                     2010.06    NaN  -3940.0
                     2011.06    NaN -13165.0
                     2012.06    NaN  -3956.0
                     2013.06    NaN  -1066.0
...                             ...      ...
GFSA.SCS05G08Z61613Z 2019.06    0.0      NaN
                     2020.06    0.0      NaN
                     2021.06    0.0      NaN
                     2022.06    0.0      NaN
                     2023.06    0.0      NaN

[2513 rows x 2 columns]

In [15]:
# Melting: melt(): Converts data from wide format to long format.
pd.melt(df, id_vars=['Series_reference', 'Period'], var_name='STATUS')

           Series_reference   Period          STATUS   value
0          GFSA.SCS01G01Z90  2009.06      Data_value    3374
1          GFSA.SCS01G01Z90  2010.06      Data_value   -3940
2          GFSA.SCS01G01Z90  2011.06      Data_value  -13165
3          GFSA.SCS01G01Z90  2012.06      Data_value   -3956
4          GFSA.SCS01G01Z90  2013.06      Data_value   -1066
...                     ...      ...             ...     ...
27638  GFSA.SCS05G08Z61613Z  2019.06  Series_title_5     NaN
27639  GFSA.SCS05G08Z61613Z  2020.06  Series_title_5     NaN
27640  GFSA.SCS05G08Z61613Z  2021.06  Series_title_5     NaN
27641  GFSA.SCS05G08Z61613Z  2022.06  Series_title_5     NaN
27642  GFSA.SCS05G08Z61613Z  2023.06  Series_title_5     NaN

[27643 rows x 4 columns]

In [16]:
# Stacking/Unstacking: 
# stack(): Collapses DataFrame columns into a single column.
# unstack(): Reverse operation of stacking.

df.set_index(['Series_reference', 'Period'])[['Data_value', 'STATUS', 'Group']].stack().reset_index()

,Series_reference,Period,level_2,0
0,GFSA.SCS01G01Z90,2009.06,Data_value,3374
1,GFSA.SCS01G01Z90,2009.06,STATUS,REVISED
2,GFSA.SCS01G01Z90,2009.06,Group,"Central Government, Operating Statement, Net B..."
3,GFSA.SCS01G01Z90,2010.06,Data_value,-3940
4,GFSA.SCS01G01Z90,2010.06,STATUS,REVISED
...,...,...,...,...
7534,GFSA.SCS05G08Z61613Z,2022.06,STATUS,FINAL
7535,GFSA.SCS05G08Z61613Z,2022.06,Group,"Central Government, Non-financial Assets Recon..."
7536,GFSA.SCS05G08Z61613Z,2023.06,Data_value,0
7537,GFSA.SCS05G08Z61613Z,2023.06,STATUS,FINAL
7538,GFSA.SCS05G08Z61613Z,2023.06,Group,"Central Government, Non-financial Assets Recon..."

In [17]:
# Reshaping with pivot_table:

# pivot_table(): Similar to pivot, but can handle duplicate entries by applying an aggregation function.

df.pivot_table(index='Series_reference', columns='Period', values='Data_value', aggfunc='mean')

Period,2008.06,2009.06,2010.06,2011.06,2012.06,2013.06,2014.06,2015.06,2016.06,2017.06,2018.06,2019.06,2020.06,2021.06,2022.06,2023.06
Series_reference,,,,,,,,,,,,,,,,
GFSA.SCS01G01Z90,NaN,3374.0,-3940.0,-13165.0,-3956.0,-1066.0,910.0,3895.0,4520.0,6922.0,7746.0,8015.0,-15337.0,-2611.0,-8596.0,-7065.0
GFSA.SCS01G01Z91,NaN,1341.0,-5740.0,-14085.0,-5160.0,-2298.0,-1136.0,1309.0,1725.0,4231.0,4092.0,4283.0,-18535.0,-7232.0,-13454.0,-11691.0
GFSA.SCS01G02121,NaN,2278.0,2523.0,2745.0,2782.0,2514.0,2618.0,2392.0,2049.0,2063.0,1992.0,2169.0,2178.0,2349.0,2486.0,2752.0
GFSA.SCS01G02140,NaN,579.0,439.0,396.0,365.0,409.0,380.0,282.0,219.0,191.0,232.0,222.0,206.0,185.0,212.0,226.0
GFSA.SCS01G02142,NaN,3834.0,4109.0,4416.0,4768.0,4804.0,4911.0,4852.0,5282.0,5564.0,5557.0,6014.0,5964.0,5665.0,5875.0,6345.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GFSA.SCS05G08Z61613A,NaN,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GFSA.SCS05G08Z61613D,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GFSA.SCS05G08Z61613K,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GFSA.SCS05G08Z61613O,NaN,1.0,-1.0,-1.0,-3.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GFSA.SCS05G08Z61613Z,2.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# Transforming:

# Grouping and Aggregation:

# groupby(): Groups data based on one or more keys.
df.groupby(['Series_reference', 'Period'])['Data_value'].mean().reset_index()

          Series_reference   Period  Data_value
0         GFSA.SCS01G01Z90  2009.06      3374.0
1         GFSA.SCS01G01Z90  2010.06     -3940.0
2         GFSA.SCS01G01Z90  2011.06    -13165.0
3         GFSA.SCS01G01Z90  2012.06     -3956.0
4         GFSA.SCS01G01Z90  2013.06     -1066.0
...                    ...      ...         ...
2508  GFSA.SCS05G08Z61613Z  2019.06         0.0
2509  GFSA.SCS05G08Z61613Z  2020.06         0.0
2510  GFSA.SCS05G08Z61613Z  2021.06         0.0
2511  GFSA.SCS05G08Z61613Z  2022.06         0.0
2512  GFSA.SCS05G08Z61613Z  2023.06         0.0

[2513 rows x 3 columns]

In [23]:
# Dropping Duplicates:

# drop_duplicates(): Removes duplicate rows based on a subset of columns or all columns.

deduped_df = df.drop_duplicates(subset=['Series_reference', 'Period'])
deduped_df

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,GFSA.SCS01G01Z90,2009.06,3374,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
1,GFSA.SCS01G01Z90,2010.06,-3940,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
2,GFSA.SCS01G01Z90,2011.06,-13165,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
3,GFSA.SCS01G01Z90,2012.06,-3956,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
4,GFSA.SCS01G01Z90,2013.06,-1066,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2508,GFSA.SCS05G08Z61613Z,2019.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2509,GFSA.SCS05G08Z61613Z,2020.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2510,GFSA.SCS05G08Z61613Z,2021.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2511,GFSA.SCS05G08Z61613Z,2022.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2512,GFSA.SCS05G08Z61613Z,2023.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN

In [24]:
# Renaming Columns:

# rename(): Renames columns to make them more readable or consistent.

renamed_df = df.rename(columns={'Series_reference': 'Series', 'Data_value': 'Values'})
renamed_df.columns

Index(['Series', 'Period', 'Values', 'STATUS', 'UNITS', 'MAGNTUDE', 'Subject',
       'Group', 'Series_title_1', 'Series_title_2', 'Series_title_3',
       'Series_title_4', 'Series_title_5'],
      dtype='object')