In [1]:
#creating tuples 
y= ("apple", "banana", "cherry")
print(y)

('apple', 'banana', 'cherry')

In [2]:
# Allow Duplicates:
x= ("apple", "banana", "cherry", "apple", "cherry")
print(x)

#Tuple Length:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
3

In [3]:
# Tuple can store different datatypes 
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [4]:
# note the double round-brackets
q = tuple(("apple", "banana", "cherry")) 
print(q)

#Print the second item in the tuple:
w = ("apple", "banana", "cherry")
print(w[1])

#Return the third, fourth, and fifth item:
e = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(e[2:5])

#This example returns the items from the beginning to, but NOT included, "kiwi":
t= ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(t[:4])

#This example returns the items from index -4 (included) to index -1 (excluded)
le = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(le[-4:-1])

('apple', 'banana', 'cherry')
banana
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('orange', 'kiwi', 'melon')

In [5]:
#Convert the tuple into a list , add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [8]:
# Delete tuple:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)
#this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [6]:
# Using Asterisk*:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [9]:
# You can loop through the tuple items by using a for loop.
i = ("apple", "banana", "cherry")
for x in i:
  print(x)

apple
banana
cherry

In [10]:
# We can join two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

joined_tuple = tuple1 + tuple2

print("Joined tuple:", joined_tuple)  # Output: Joined tuple: (1, 2, 3, 4, 5, 6)

Joined tuple: (1, 2, 3, 4, 5, 6)

In [11]:
# We can multiply tuple
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [12]:
#Slicing and indexing 

my_list = ['apple', 'banana', 'cherry', 'date']
print(my_list[:2]) # output: ['apple', 'banana']
print(my_list[2:]) # output: ['cherry', 'date']

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1:4] = [10, 20, 30]
print(numbers) # output: [1, 10, 20, 30, 5, 6, 7, 8, 9]

numbers[4:4] = [40, 50]
print(numbers) # output: [1, 10, 20, 30, 40, 50, 5, 6, 7, 8, 9]

['apple', 'banana']
['cherry', 'date']
[1, 10, 20, 30, 5, 6, 7, 8, 9]
[1, 10, 20, 30, 40, 50, 5, 6, 7, 8, 9]

In [13]:
#built in functions 

#len()
numbers_list = [1, 2, 3, 4, 5]
length = len(numbers_list)
print("Length of the list:", length)  # Output: Length of the list: 5

#sum()
numbers_list = [1, 2, 3, 4, 5]
total_sum = sum(numbers_list)
print("Sum of numbers:", total_sum)  # Output: Sum of numbers: 15

#max()
numbers_list = [1, 5, 2, 8, 3]
largest = max(numbers_list)
print("Largest number:", largest)  # Output: Largest number: 8

#min()
numbers_list = [1, 5, 2, 8, 3]
smallest = min(numbers_list)
print("Smallest number:", smallest)  # Output: Smallest number: 1

#sorted()
numbers_list = [1, 5, 2, 8, 3]
sorted_list = sorted(numbers_list)
print("Sorted list:", sorted_list)  # Output: Sorted list: [1, 2, 3, 5, 8]

Length of the list: 5
Sum of numbers: 15
Largest number: 8
Smallest number: 1
Sorted list: [1, 2, 3, 5, 8]